<div id="main_title"> Young Boot Questions </div>
  <div id="homepage_title_container">
    <% @questions.each do |question| %>
      <%= render partial: 'shared/voting', locals: {voteable: question} %>
      <div class="homepage_titles">
        <%= link_to question.title, question_path(question) %>
      </div>
      <% end %>
  </div>
</div>


  <div class="images">
    <img src="http://devbootcamp.com/imgs/get-involved-staff.png">
  </div>
