<div class="show_post">
<div class="current_votes"> <%= @question.votes.count %></div>
<div class="post_title"><%= @question.title %></div>
<div class="post_body"><%= @question.content %></div>
<%= link_to "Answer Question", new_question_answer_path(@question) %>
</div>

