<h3><%= link_to 'new', new_user_question_path(@user) %></h3><br>
<h3><%= link_to 'edit', edit_user_question_path(@user, @question) %></h3><br>
<h3><%= link_to 'delete', user_question_path(@user, @question), method: :delete  %></h3>
