<nav id= 'questions'>
<%= link_to 'new post', new_user_question_path(@user) if current_user %>
<%= link_to 'edit post', edit_user_question_path(@user, @question) if @question && owner(@question)%>
<%= link_to 'delete post', user_question_path(@user, @question), method: :delete if @question && owner(@question)%>
</nav>
