<div class="user_form">

<%= form_for [question, answer], :remote => true, :html => {:id => "create_answer"} do |f| %>
  <%= f.text_field :content, placeholder: "Type your answer here..." %>

  <%= f.submit %>

<% end %>

</div>