$main_green: #1abc9c;
$navy_blue: #34495e;
$light_gray: #d6dbdf;
$green_sea: #16A085;
$red: #e74c3c;

body{
  background-image: url(http://photos2.meetupstatic.com/photos/theme_body/d/9/5/a/full_2035642.jpeg);
  background-color: $light-gray;
  background-repeat: no-repeat;
  background-size: 110% 900px;
  z-index: -1;
  background-position: 0 0;
  width: 100%;
  margin: 0;
}

#bg{
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 1000px;
  opacity: 0.9;
  z-index: -100;
}

#main_nav{
  width: 100%;
  height: 80px;
  background-color: $navy_blue;

  div {
   float: left;
   margin-left: 40px;
 }

 a {
  color: #fff;
  text-decoration: none;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  font-size: 20px;
}

#header{
  a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
  }
}
}

.images {
  float:right;
  margin-right: 70px;
  img {
    display:block;
    margin: 50px auto;
  }
}


h2 {
  color: #000;
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.user_form{
  font-size: 20px;
  width: 400px;
  input{
    font-size: 18px;
    margin: 10px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px
  }
  input[type="submit"]{
    background-color: $navy_blue;
    border: 0;
    color: $light-gray;
  }
  textarea {
    width: 500px;
  }
}

#main_title{
  clear: left;
  width: 100%;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  text-align: center;
  color: $navy_blue;
  font-family: "Archivo Black";
}

#homepage_title_container{
  width: 40%;
  margin-left: 5%;
  float: left;
  margin-top: 50px;
}

.homepage_titles{

  height: 75px;
  color: $light_gray;

  
  .voting{
    background-color: $main_green;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 20px;
    display: inline-block;
    
    a:nth-of-type(2) {
      float: right
    }

    .votecount {
      margin-left: 15px;
      margin-bottom: 5px;
    }
  }

  a{
    text-decoration: none;
    color: $light_gray;
  }

  .question {
    font-size: 19px;
    background-color: $navy_blue;
    border-radius: 5px;
    border: 1px solid $green_sea;
    padding: 5px;
    width: 65%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    &:hover{
      background-color: $green_sea;
      cursor: pointer;
    }
  }
}



.show_post{
  width: 100%;
  padding: 50px 0 0 50px;

  .post_title{
    font-size: 70px;
  }
  .post_body{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 40px;
    font-size: 20px;
    background-color: $green_sea;
    color: $light_gray;

    .question_text {
      background-color: #EFF;
      color: #8AA;
      clear: right;
      margin-top: 100px;
      padding: 5px;

    }

    .voting{
      background-color: $main_green;
      width: 120px;
      float: right;
      padding: 5px 10px;
      border-radius: 5px;
      display: block;
      
      a:nth-of-type(2) {
        float: right;
      }

      .votecount {
        line-height: 40px;
        margin-left: 10px;
      }
    }
    .question {
      display: inline-block;
    }
  }
}

.answer_button{
  margin-top: 200px;
  background-color: $navy_blue;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  line-height: 64px;
  &:hover{
    text-decoration: none;
    color: $light_gray;
  }
}



.answers{
  margin-top: 60px;
  margin-left: 0px;
}

.answer {
  li {
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    width: 80%;
    
    list-style-type: none;
    background-color: lightgray;
  }
  .winner {
    display: inline-block;
    margin-right: 10px;
  }
  .voting {
    display: inline-block;
    float: right;
  }
}


.comment_button_div {
  margin-top: 40px;
  margin-bottom: 40px;  
}

.comment_button{
  background-color: $navy_blue;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  line-height: 64px;
  &:hover{
    text-decoration: none;
    color: $light_gray;
  }
}

.comment {
  background-color: #EFF;
  padding: 10px;
  margin-top: 20px; 
  width: 100%;
  color: #8AA;
  font-size: 16px;
}


.container {
  width: 90%;
  margin: 20px auto;
}


table {
  td {
    border: black 1px solid;
    padding: 5px;
    width: 200px;
    text-align: center;
  }
}

.user_nav {
  margin-left: 0;
  margin-bottom: 30px;
  li {
    list-style-type: none;
    display: inline-block;
  }
}

.delete_button_div {

  margin-top: 30px;
  
  .delete_button{
    background-color: $light_gray;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    line-height: 64px;
    color: #333;

    &.small{
      font-size: 16px;
      line-height: 16px;
      padding: 5px;
      color: black;
      margin-top: 0;
    }


    &:hover{
      text-decoration: none;
      background-color: $red;
      color: white;
    }
  }

}

.title{
  font-size: 70px;
  display: inline-block;
}

.user_answers {
  li {
    margin-left: 10px;
  }
}

.user_questions {
  margin-bottom: 50px;
}
.stats {
  margin-bottom: 30px;
}

.answer_content {
  margin-top: 10px;
  font-size: 16px;
}